.page.theme-dark {
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #FF0070;
  --base-color: var(--accent-color);
  --text-color: #F1B2CE;
  --text-decoration: var(--bg-color);
  --title-color: #DB00FF;
  --title-shadow: #FF0070;
}

.page.theme-dark .header__rec {
  display: block;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000028;
    --bg-image: url(../images/cover-image-dark.png);
    --accent-color: #FF0070;
    --base-color: var(--accent-color);
    --text-color: #F1B2CE;
    --text-decoration: var(--bg-color);
    --title-color: #DB00FF;
    --title-shadow: #FF0070;
  }

  .header__rec {
    display: block;
  }
}