:root.theme-dark {
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #FF0070;
  --base-color: var(--accent-color);
  --text-color: #F1B2CE;
  --text-decoration: var(--bg-color);
  --hover-color: rgba(255, 0, 112, 0.4);
  --title-color: #DB00FF;
  --title-shadow: #FF0070;
}

.theme-dark .header__rec {
  display: block;
}