:root.theme-light {
  --bg-color: #FFF1F7;
  --bg-image: url(../images/cover-image-light.png);
  --accent-color: #FF8DCB;
  --base-color: var(--text-color);
  --text-color: #353430;
  --text-decoration: var(--text-color);
  --title-color: #FFC2E6;
  --title-shadow: #FF0070;
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --bg-image: url(../images/cover-image-light.png);
    --accent-color: #FF8DCB;
    --base-color: var(--text-color);
    --text-color: #353430;
    --text-decoration: var(--text-color);
    --title-color: #FFC2E6;
    --title-shadow: #FF0070;
  }

  .header__rec {
    display: none;
  }
}